@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sail&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, cupcake;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.greentext{
  color: #8dc63f
}

.greenbg{
  background: #8dc63f
}